@page "/"

<AuthorizeView>
	<Authorized>
		<h1>Characters</h1>
	</Authorized>

	<NotAuthorized>
		<h1>Welcome to the Bloodborne Character Planner!</h1>
		
		<a href="Identity/Account/Register">Create a new account</a> to start making characters. 
	</NotAuthorized>
</AuthorizeView>
