@using Microsoft.EntityFrameworkCore
@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> ContextFactory

@if (SignedInUser != null)
{
	@if (_characters?.Count() == 0)
	{
		<p>Looks like you haven't made any characteres yet.</p>
		<p><a href="/editor">Click here</a> to make a character.</p>
	}
	else if (_characters != null)
	{
		<table class="table table-hover table-striped">
			<thead>
				<td scope="col">Character Name</td>
				<td scope="col"></td>
				<td scope="col"></td>
			</thead>

			<tbody>
			@foreach (BBCharacter bbchar in _characters)
			{
				<tr>
					<td scope="row">@bbchar.Name</td>
					<td><a href="/editor/@bbchar.Id">Edit</a></td>
					<td><a href="/delete/@bbchar.Id">Delete</a></td>
				</tr>
				
			
			}
			</tbody>
		</table>
		
	}
}
else
{
	<p>Something went wrong.</p>
}

@code {
	private ApplicationDbContext? _context;
	private IEnumerable<BBCharacter>? _characters;

	[Parameter]
	public AppUser? SignedInUser { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		if (SignedInUser == null)
		{
			return;
		}

		_context = await ContextFactory.CreateDbContextAsync();

		_characters = await _context.CharacterSet.Where(e => e.CreatorId == SignedInUser.Id).ToListAsync();
		return;
	}

	public void Dispose()
	{
		_context?.Dispose();
	}
}
